<div class="contacts">

  <ul class="contacts__list">
    <li class="contacts__item">
      <div>
        Дружбы Народов
      </div>
      <div>
        Бульвар Марии Приймаченко, 1\27
      </div>
    </li>
    <li class="contacts__item">
      <div>
        Дружбы Народов
      </div>
      <div>
        Бульвар Марии Приймаченко, 1\27
      </div>
    </li>
    <li class="contacts__item">
      <div>
        +380 (95) 672-46-42
      </div>
      <div>
        <div>
          +380 (44) 223-81-79
        </div>
        <div>
          724642@ukr.net
        </div>
      </div>
    </li>
  </ul>

</div>
