<div class="contacts header__item">

  <ul class="contacts__list">
    <li class="contacts__item">
      <div class="contacts__item-metro">
        Дружбы Народов
      </div>
      <div class="contacts__location">
        Бульвар Марии Приймаченко, 1\27
      </div>
    </li>
    <li class="contacts__item">
      <div class="contacts__item-metro">
        Дружбы Народов
      </div>
      <div class="contacts__location">
        Бульвар Марии Приймаченко, 1\27
      </div>
    </li>
    <li class="contacts__item">
      <div class="contacts__item-phone">
        +380 (95) 672-46-42
      </div>
      <div class="contacts__item-bottom">
        <div class="contacts__phone-second">
          +380 (44) 223-81-79
        </div>
        <div class="contacts__mail">
          724642@ukr.net
        </div>
      </div>
    </li>
  </ul>

</div>
