<!-- begin description -->
<section class="description container">

  <div class="description__item">
    <h2 class="description__item-title">
      Широкий спектр полиграфических услуг в Киеве
    </h2>
    <p class="description__text">
      Распечатка в «УРБ» - всегда качественные полиграфические услуги срочной печати в Киеве, это широкоформатная печать А0, А1, А2, А3, А4, копирование и сканирование А0, А1, А2, А3, А4, полиграфия для аспирантов, студентов и школьников: распечатка дипломов, диссертаций и курсовых, распечатка авторефератов срочно, твердый переплет дипломов, сшивка на пружину, прошивка нитками.
    </p>
    <p class="description__text">
      Срочная цветная распечатка и черно-белая распечатка диплома, курсовой, автореферата. Полиграфия для предприятий, организаций и офисов, корпоративная полиграфия: печать на оракале, печать на баннере, распечатка презентаций, бланки, грамоты, дипломы, наклейки, открытки, буклеты, флаера, журналы, прайсы для выставок и многое другое…
    </p>
    <h3 class="description__item-h3">
      Полный спектр полиграфических услуг в Киеве
    </h3>
    <p class="description__text">
      Разработать дизайн, сделать макет полиграфической продукции: визиток, флаеров, буклетов, листовок, плакатов, постеров, коллажей, календарей, брошюр, стикеров, наклеек, открыток . А также мы готовы Вам предложить быструю и качественную, цветную и чернобелую распечатку А4, А3, А2, А1, А0 (возможны нестандартные форматы).
    </p>
    <p class="description__text">
      Переплести, сшить, прошить брошюру, буклет, презентацию, дипломную или магистерскую работу, диссертацию, быстро и качественно изготовить авторефераты.
    </p>
    <p class="description__text">
      Ламинация документов А4, А3. Изготовление корпоративных блокнотов и терадей для записей. Печать и изготовление копоративных папок, фирменных бланков. Распечатка, изготовление настенных, перекидных календарей. Печать на холсте фото, картин, коллажей.
    </p>
    <p class="description__text">
      Распечатка на холсте осуществялется в самые кратчайшие сроки, также возможна натяжка на подрамник, лакировка фото-картин на холсте. Самая современная печать на баннере, оракале и пластике. Придумайте сами, что Вам нужно сделать и мы постараемся Вам в этом помочь.
    </p>
  </div>

  <div class="description__item">
    <h2 class="description__item-title">
      Широкий спектр полиграфических услуг в Киеве
    </h2>
    <p class="description__text">
      Распечатка в «УРБ» - всегда качественные полиграфические услуги срочной печати в Киеве, это широкоформатная печать А0, А1, А2, А3, А4, копирование и сканирование А0, А1, А2, А3, А4.
    </p>
    <h3 class="description__item-h3">
      Виды работ
    </h3>
    <ul class="description__text-list">
      Услуги полиграфии в нашем исполнении отличают следующие особенности:
      <li class="description__text-item">
        Сервисное обслуживание высшего разряда;
      </li>
      <li class="description__text-item">
        Профессионализм, тонкое знание технологии работ со всей полиграфией;
      </li>
      <li class="description__text-item">
        Гарантированное качество продукции;
      </li>
      <li class="description__text-item">
        Срочная печать по реальным ценам (дешево, если учесть предлагаемый уровень исполнения);
      </li>
      <li class="description__text-item">
        Для постоянных заказчиков типография формирует систему скидок.
      </li>
    </ul>
    <img src="img/descr.jpg" alt="Примеры печати">
    <p class="description__text">
      Распечатка на холсте осуществялется в самые кратчайшие сроки, также возможна натяжка на подрамник, лакировка фото-картин на холсте. Самая современная печать на баннере, оракале и пластике. Придумайте сами, что Вам нужно сделать и мы постараемся Вам в этом помочь.
    </p>
  </div>

</section>
<!-- end description -->
