<!-- begin footer -->
<footer class="footer container">
  <div class="footer__content">
    <div class="footer__content-item footer__list">
      <div class="footer__list-item">
        <h4 class="title-h4 footer__list-title">
          Популярные услуги:
        </h4>
        <ul class="footer__content-list">
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Твердый переплет дипломов</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Твердый переплет диссертаций</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Печать авторефератов</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Переплет на пружину и скобу</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Печать плакатов и постеров</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Прошивка нитками</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Печать чертежей</a></li>
          <li class="footer__content-list-item">Скан-копия А4, А3, А2, А1, А0<a href="#" class="footer__content-list-link"></a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Стикеры, наклейки</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Блокноты</a></li>
        </ul>
      </div>
      <div class="footer__list-item">
        <h4 class="title-h4 footer__list-title">
          Наши технологии:
        </h4>
        <ul class="footer__content-list">
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Биговка</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Индексная вырубка</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Кашировка</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Лазерная гравировка</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Бронзировние</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Гибридное лакирование</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Ароматическая полиграфия</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Конгревное тиснение</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Шелкография</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Флексография</a></li>
        </ul>
      </div>
      <div class="footer__list-item">
        <h4 class="title-h4 footer__list-title">
          Инфо:
        </h4>
        <ul class="footer__content-list">
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">О типографии</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Оплата и доставка</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Требования к макетам</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Конструктор визиток</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Вопрос - ответ</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Вакансии</a></li>
          <li class="footer__content-list-item"><a href="#" class="footer__content-list-link">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__content-item">
      <div class="footer__contacts">
        {% include "partials/_logo.html" %}

        {% include "partials/_contacts.html" %}
      </div>
    </div>
    <div class="footer__content-item">
      <button class="btn-up">
        <a href="#">
          <img src="img/arrow-up.png" alt="up">
        </a>
      </button>
    </div>
  </div>
  <div class="footer__copiright">
    <div class="footer__copiright-item">
      Copyright © 2006-2020 УРБ - ПОЛИГРАФИЯ. Все права защищены. Все данные на сайте принадлежат их владельцам.
    </div>
    <div class="footer__copiright-item">
      <div>
        Политика конфиденциальности
      </div>
      <div>
        Договор оферты
      </div>
      <div>
        <img src="img/copiright-pic.png" alt="D">
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
