<div class="main-nav header__top">
  <ul class="main-nav__list container">
    <li class="main-nav__item"><a href="#" class="main-nav__link">Услуги полиграфии</a></li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Заказать дизайн</a></li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Оплата и доставка</a>
    </li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">О полиграфии</a>
    </li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Info статьи</a>
    </li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Вакансии</a>
    </li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Контакты</a>
    </li>
  </ul>
</div>
