<div class="secondary-nav-i">
  <button class="btn-nav js-open-menu"></button>
  <ul class="secondary-nav">
    <li class="secondary-nav__item"><a href="#" class="secondary-nav__link">Полиграфическая продукция</a></li>
    <li class="secondary-nav__item"><a href="#" class="secondary-nav__link">Студентам и диссертантам</a></li>
    <li class="secondary-nav__item"><a href="#" class="secondary-nav__link">Плакаты и таблички</a>
    </li>
    <li class="secondary-nav__item"><a href="#" class="secondary-nav__link">Чертежи</a>
    </li>
    <li class="secondary-nav__item"><a href="#" class="secondary-nav__link">Фото и арт</a>
    </li>
  </ul>
</div>
