{% set services = [
  {
    img: "img/serv-1.jpg",
    alt: "Цветная и ЧБ распечатка",
    title: "Цветная и ЧБ распечатка",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-2.jpg",
    alt: "Переплет дипломов",
    title: "Переплет дипломов",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-4.jpg",
    alt: "Печать авторефератов",
    title: "Печать авторефератов",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  },
  {
    img: "img/serv-3.jpg",
    alt: "Переплет диссертаций",
    title: "Переплет диссертаций",
    money: "90",
    time: "60"
  }
]
%}

<!-- begin services -->

<section class="services container">

  <div class="section-title">
    <div class="section-title__text">
      <h1 class="section-title__h1">Оперативная полиграфия URB в Киеве</h1>
      <p class="section-title__descr">Срочная печать широкоформатная печать плакатов цифровая печать твердый переплет
        печать презентаций печать визиток буклетов картин</p>
    </div>
    <div class="section-title__btn">
      <button class="btn">Смотреть все услуги</button>
    </div>

  </div>

  <div class="services__list">
    {% for item in services %}
    <div class="services__item">
      <img class="services__pic" src="{{item.img}}" alt="{{item.alt}}">
      <div class="services__title">{{item.title}}</div>
      <div class="services__price">
        <div class="services__price-money">от {{item.money}} грн</div>
        <div class="services__price-time">от {{item.time}} минут</div>
      </div>
    </div>
    {% endfor %}
  </div>

</section>

<!-- end services -->
